

<section class="discount-products container">
    <h2 class="discount-products-title">Discount Products</h2>

    <ul class="discount-list">
        <li class="discount-card">
            <img class="discount-label" src="./img/discount.png" alt="">

            <div class="product-photo">
                <img class="discount-product-img" src="./img/discount-products1.png" alt="Apricot Photo">
            </div>

            <div class="product-details">
                <p class="discount-product-name">Apricot</p>
                <div class="discount-price-flex">
                    <p class="discount-product-price">$0.79</p>

                    <button type="button" class="add-to-cart-icon">
                        <svg class="cart-icon">
                            <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                    <!-- <a href="./cart.html" class="add-to-cart-icon">
                        
                    </a> -->
                </div>
            </div>
        </li>

        <li class="discount-card">
            <img class="discount-label" src="./img/discount.png" alt="">

            <div class="product-photo">
                <img class="discount-product-img" src="./img/discount-products2.png" alt="Dark Chocolate">
            </div>

            <div class="product-details">
                <p class="discount-product-name size-category">Dark Chocolate</p>
                <div class="discount-price-flex">
                    <p class="discount-product-price">$6.99</p>
                    
                    <button type="button" class="add-to-cart-icon">
                        <svg class="cart-icon">
                            <use href="./img/kupi-tank-sprite.svg#icon-basket"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</section>