
<section class="container product-list">
    <ul class="product-items">
    </ul>
    
    <ul class="product-btn-scroll list">
        <li><button class="product-btn-left" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M14 16L10 12L14 8" stroke="#A3A3A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button></li>
        <li><button class="product-btn-page" type="button">1</button></li>
        <li><button class="product-btn-page" type="button">2</button></li>
        <li><button class="product-btn-page" type="button">-</button></li>
        <li><button class="product-btn-page" type="button">7</button></li>
        <li><button class="product-btn-page" type="button">8</button></li>
        <li><button class="product-btn-right" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M10 8L14 12L10 16" stroke="#A3A3A3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg></button></li>
    </ul>

</section>

