/*---------------------------------------------------------*/

.container {
    width: 100%;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.section_cart {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--light-color);
}

.logo_title_container {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.basket_icon_span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-color);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 14px;
}

.basket_icon {
    fill: var(--light-color);
}

.basket_title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

.cart_delete_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border: none;
    background-color: transparent;
    line-height: 1.29;
    cursor: pointer;
}


.btn_delete_container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}