:root {
  --green-color: #6d8434;
  --green-hover: #586f1f;
  --black-color: #010101;
  --white-color: #fafafa;
  --grey-color: #a3a3a3;
  --light-color: #e8e8e2;
}

body {
  font-family: 'PP Neue Montreal', sans-serif;
  color: var(--black-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
